:root{
	--light-grey:#f0f0f0;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
p{
	font-size:18px;
}

img{
	max-width: 100%;
}

/* Navigation */
.main-nav{
	background:#000;
	padding:2rem 4rem;
	display:flex;
	justify-content: space-between;

}

.main-nav ul{
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	list-style-type:none;
}

.main-nav a{
	text-decoration:none;
	color: var(--light-grey);
	padding:0.8rem 2rem;
	transition: .3s;

}
.main-nav a:hover{
	background: var(--light-grey);
	color:#000;
}

.logo{
	font-size:2rem;
	color:#fff;
	text-transform: uppercase;
	font-weight: 900;
}


/*Header*/
.header{
	background: url(img/header.jpg);
	background-size: cover;
	background-position: center;
	width:100%;
	min-height:80vh;
	display:flex;
	align-items: flex-end;
	justify-content: center;
}

.header span{
	margin-bottom:-5vw;
	font-size:20vw;
	color:#fff;;
	font-weight: 900;	
}

/* Caption */

.caption{
	margin: 0 auto;
	width: 60%;
	padding:4rem 2rem;
	display: flex;
	flex-direction:column;
	align-items: center;
	border-bottom:0.5px dashed blue;
}

.caption p{
	font-weight: 700;
	padding-bottom: 2rem;
	text-align: center;
}

.caption .btn{
	width: 150px;
	height: 40px;
	border:none;
	border-radius: 15px;
	background-color: blue;
	color: #fff;
	transition: .4s;
}

.caption .btn:hover{
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

/* Intro */
.intro{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 2rem;
}

.intro-header{
	position:relative;
}

.intro-header h1{
	font-size: 8vw;
	font-weight: 900;
	color: var(--light-grey);
	margin:0;
}

.intro-header span{
	text-transform: uppercase;
	color: blue;
	font-size: 18px;
	display:block;
	text-align: center;
	position:relative;
	top:-3rem;
}

.intro-description{
	text-align:center;
	padding: 2rem 6rem;
}

.intro-description h2{
	font-weight: 400px;
	font-size: 25px;
}

/* Images */

.images{
	max-width:100%;
	padding: 2rem 6rem;
	display:grid;
	grid-gap:20px;
	grid-template-areas: 
		"image-col1 image-col2 image-col3";
}

.image-col1{
	grid-area: image-col1;
}
.image-col2{
	grid-area: image-col2;
}
.image-col3{
	grid-area: image-col3;
}

.col img{
	border-radius:10px;
	margin-bottom:20px;
	transition: .3s;
}

.col img:hover{
	transform:translateY(-8px);
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.col img:last-child{
	margin-bottom:0;
}

/* Counter */
.counter{
	background-color: #000;
	padding: 4rem 6rem;
	display:grid;
	grid-gap:20px;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.counter-item{
	text-align: center;
}
.counter-item span{
	color: blue;
	font-size: 5rem;
	font-weight: 100;
	display:block;
}
.counter-item p{
	color:#fff;
	text-transform: uppercase;
	font-weight: 700;
	margin:0;
	margin-top:-3.5rem;
	padding-bottom:3.5rem;

}

/* Last Section */
.end-note{
	background: var(--light-grey);
	padding: 4rem 6rem;
	text-align: center;
}

.end-note a{
	color: blue;
	font-size: 18px;
}

footer{
	background: #000;
	padding: 4rem 6rem;
	display:grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	color: #fff;
}


.footer-item ul{
	list-style-type:none;
	padding:0;
	line-height: 1.6;
	list-style-position: outside;
}

.footer-item input[type="email"]{
	background:transparent;
	border:0;
	border-bottom: 1px solid blue;
	outline:0;
	color:#fff;
	padding-bottom:0.2rem;
	}

.footer-item a{
	display:inline-block;
	width:28px;
	height: 28px;
	background: blue;
	color:#fff;
	text-align: center;
	text-decoration: none;
	font-size:20px;
	margin-left:-4px;
}

/* Media Query*/

@media (max-width: 800px){

	.main-nav ul{
		grid-template-columns: repeat(1, 1fr);
	}

	.intro-description{
		padding:2rem 3rem;
	}

	.images{
		grid-template-areas: 
		"image-col1 image-col2"
		"image-col3 image-col3";
		padding: 2rem 3rem;
	}

	.image-col3{
		display:grid;
		grid-template-columns:1fr 1fr;
		grid-gap: 20px;
	}

	.counter{
		grid-template-columns: repeat(1, minmax(200px, 1fr));
	}

	footer{
		grid-template-columns: repeat(2, minmax(200px, 1fr));
		
	}

}

@media (max-width: 500px){

	.intro-header span{
		top: 2rem;
	}

	.images{
		grid-template-areas: 
		"image-col1"
		"image-col2"
		"image-col3";
	}

	.image-col3{
		grid-template-columns:1fr;
	}

	footer{
		grid-template-columns: repeat(1, minmax(200px, 1fr));
	}

}